
.theme-default-content:not(.custom),
.page-nav {
  max-width: 80%;
}

table {
  border-collapse: inherit;
  display: table;
}

th, td, tr {
  border: none;
}

.theme-default-content>table {
  border-collapse: collapse;
  display: block;
}

.theme-default-content>table th, .theme-default-content>table td {
  border: 1px solid #dfe2e5;
}
.ver-box{
  margin-top: 20px;
}
.ver-box p{
  margin:0
}
.ver-box .card{
  margin : 10px 0 20px 20px;
  font-size: 14px;
}
.ver-title{
  font-size: 18px;
  
}
.ver-table{
  border-collapse: collapse;
  display: block;
}

.ver-table th,
.ver-table td{
  border: 1px solid #dfe2e5;
  padding: 0.4em 1em;
}
.centerAlign{
  display:flex;
  align-items: center;
}
.scrollbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d7d7d7;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f5f5f5;
}