$blue: #27b8d0;
$blue-hover: #1d85a0;
$red: #f7494e;
$red-hover: #d7080c;
$yellow: #f6a64e;
$yellow-hover: #ca8039;

$color-fff: #fff;
$color-333: #333;
$color-666: #666;
$color-999: #999;
$color-bbb: #bbb;
$color-ddd: #ddd;
$color-eee: #eee;
$color-e6e6e6: #e6e6e6;
$color-b7b7b7: #b7b7b7;
$color-f0f0f0: #f0f0f0;
$color-5b5b5b: #5b5b5b;
$color-8e8e8e: #8e8e8e;
$color-f5f5f5: #f5f5f5;
$color-135f79: #135f79;
$color-d9d9d9: #d9d9d9;
$color-e9e9e9: #e9e9e9;
$color-e4e7ed: #e4e7ed;
$color-d4d4d4: #d4d4d4;
$color-bfbfbf: #bfbfbf;
$color-dcdfe6: #DCDFE6;
